@using WebUi.Lib
<div class="container_wrapper">
    <div class="breadcums_block">
        <ol class="breadcrumb" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <li><a href="/" itemprop="url">Home</a></li>
            <li><a href="/blog.php">Blog</a></li>
            <li>The Best Backpage Las Vegas Escorts</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="main_container featured_escort">
                <div class="header_block">
                    <h1><span>The Best Backpage </span>Las Vegas Escorts</h1>
                </div>

                <div class="sincity_display_escorts">
                    <div class="row">  
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <div class="animate_icon_new">
                                        <!-- <img src="images/new_icon_animated.gif" alt=""> -->
                                        <img src="images/verified.png" alt="">
                                    </div>
                                    <a title="Rose's profile" href="@ProfileLib.GetUrl(306)">
                                        <div class="escort_name">Rose</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/306n.jpg" alt="Rose" title="Rose">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <div class="animate_icon_new">
                                        <!-- <img src="images/new_icon_animated.gif" alt=""> -->
                                        <img src="images/verified.png" alt="">
                                    </div>
                                    <a title="Hazel's profile" href="@ProfileLib.GetUrl(305)">
                                        <div class="escort_name">Hazel</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/305n.jpg" alt="Hazel" title="Hazel">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <div class="animate_icon_new">
                                        <!-- <img src="images/new_icon_animated.gif" alt=""> -->
                                        <img src="images/verified.png" alt="">
                                    </div>
                                    <a title="London's profile" href="@ProfileLib.GetUrl(303)">
                                        <div class="escort_name">London</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/303n.jpg" alt="London" title="London">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <div class="animate_icon_new">
                                        <!-- <img src="images/new_icon_animated.gif" alt=""> -->
                                        <img src="images/verified.png" alt="">
                                    </div>
                                    <a title="Layla's profile" href="@ProfileLib.GetUrl(302)">
                                        <div class="escort_name">Layla</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/302n.jpg" alt="Layla" title="Layla">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <div class="animate_icon_new">
                                        <!-- <img src="images/new_icon_animated.gif" alt=""> -->
                                        <img src="images/verified.png" alt="">
                                    </div>
                                    <a title="Jazzy's profile" href="@ProfileLib.GetUrl(301)">
                                        <div class="escort_name">Jazzy</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/301n.jpg" alt="Jazzy" title="Jazzy">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Ashley" href="massage-girl-profile.php?escort_id=41">
                                        <div class="escort_name">Ashley</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/ashley4_1.jpg" alt="Ashley" title="Ashley">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Carol" href="massage-girl-profile.php?escort_id=42">
                                        <div class="escort_name">Carol</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/carol1_1.jpg" alt="Carol" title="Carol">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Cynthia" href="massage-girl-profile.php?escort_id=43">
                                        <div class="escort_name">Cynthia</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/cynthia4_1.jpg" alt="Cynthia" title="Cynthia">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Ella" href="massage-girl-profile.php?escort_id=44">
                                        <div class="escort_name">Ella</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/ella1_1.jpg" alt="Ella" title="Ella">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Kimberley" href="massage-girl-profile.php?escort_id=45">
                                        <div class="escort_name">Kimberley</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/kimberley4_1.jpg" alt="Kimberley" title="Kimberley">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Lauren" href="massage-girl-profile.php?escort_id=46">
                                        <div class="escort_name">Lauren</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/lauren2_1.jpg" alt="Lauren" title="Lauren">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Leah" href="massage-girl-profile.php?escort_id=47">
                                        <div class="escort_name">Leah</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/leah4_1.jpg" alt="Leah" title="Leah">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Missy" href="massage-girl-profile.php?escort_id=49">
                                        <div class="escort_name">Missy</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/missy5_1.jpg" alt="Missy" title="Missy">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Samantha" href="@ProfileLib.GetUrl(2)">
                                        <div class="escort_name">Samantha</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/2.jpg" alt="Samantha" title="Samantha">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Jessica" href="@ProfileLib.GetUrl(3)">
                                        <div class="escort_name">Jessica</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/3.jpg" alt="Jessica" title="Jessica">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Naomi" href="@ProfileLib.GetUrl(4)">
                                        <div class="escort_name">Naomi</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/4.jpg" alt="Naomi" title="Naomi">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Alexa" href="@ProfileLib.GetUrl(10)">
                                        <div class="escort_name">Alexa</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/10.jpg" alt="Alexa" title="Alexa">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Cindy" href="@ProfileLib.GetUrl(5)">
                                        <div class="escort_name">Cindy</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/5.jpg" alt="Cindy" title="Cindy">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Alice" href="@ProfileLib.GetUrl(6)">
                                        <div class="escort_name">Alice</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/6.jpg" alt="Alice" title="Alice">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Capri" href="@ProfileLib.GetUrl(11)">
                                        <div class="escort_name">Capri</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/11.jpg" alt="Capri" title="Capri">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Britni" href="@ProfileLib.GetUrl(12)">
                                        <div class="escort_name">Britni</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/12.jpg" alt="Britni" title="Britni">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Dawn" href="@ProfileLib.GetUrl(13)">
                                        <div class="escort_name">Dawn</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/13.jpg" alt="Dawn" title="Dawn">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Alexis" href="@ProfileLib.GetUrl(14)">
                                        <div class="escort_name">Alexis</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/14.jpg" alt="Alexis" title="Alexis">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Claudia" href="@ProfileLib.GetUrl(15)">
                                        <div class="escort_name">Claudia</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/15.jpg" alt="Claudia" title="Claudia">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Jenna" href="@ProfileLib.GetUrl(16)">
                                        <div class="escort_name">Jenna</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/16.jpg" alt="Jenna" title="Jenna">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort April" href="@ProfileLib.GetUrl(17)">
                                        <div class="escort_name">April</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/17.jpg" alt="April" title="April">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Marina " href="@ProfileLib.GetUrl(18)">
                                        <div class="escort_name">Marina </div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/18.jpg" alt="Marina " title="Marina ">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Julia" href="@ProfileLib.GetUrl(19)">
                                        <div class="escort_name">Julia</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/19.jpg" alt="Julia" title="Julia">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Melissa" href="@ProfileLib.GetUrl(20)">
                                        <div class="escort_name">Melissa</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/20.jpg" alt="Melissa" title="Melissa">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Anise" href="@ProfileLib.GetUrl(21)">
                                        <div class="escort_name">Anise</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/21.jpg" alt="Anise" title="Anise">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Jodi" href="@ProfileLib.GetUrl(22)">
                                        <div class="escort_name">Jodi</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/22.jpg" alt="Jodi" title="Jodi">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Yoko" href="@ProfileLib.GetUrl(26)">
                                        <div class="escort_name">Yoko</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/26.jpg" alt="Yoko" title="Yoko">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Jojo" href="@ProfileLib.GetUrl(27)">
                                        <div class="escort_name">Jojo</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/27.jpg" alt="Jojo" title="Jojo">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Maria" href="@ProfileLib.GetUrl(28)">
                                        <div class="escort_name">Maria</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/28.jpg" alt="Maria" title="Maria">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Glaucia" href="@ProfileLib.GetUrl(29)">
                                        <div class="escort_name">Glaucia</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/29.jpg" alt="Glaucia" title="Glaucia">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Lana" href="@ProfileLib.GetUrl(30)">
                                        <div class="escort_name">Lana</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/30.jpg" alt="Lana" title="Lana">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Bia" href="@ProfileLib.GetUrl(31)">
                                        <div class="escort_name">Bia</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/31.jpg" alt="Bia" title="Bia">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Mellisa" href="@ProfileLib.GetUrl(32)">
                                        <div class="escort_name">Mellisa</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/32.jpg" alt="Mellisa" title="Mellisa">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Amanda" href="@ProfileLib.GetUrl(33)">
                                        <div class="escort_name">Amanda</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/33.jpg" alt="Amanda" title="Amanda">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Summer" href="@ProfileLib.GetUrl(34)">
                                        <div class="escort_name">Summer</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/34.jpg" alt="Summer" title="Summer">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Maya" href="@ProfileLib.GetUrl(35)">
                                        <div class="escort_name">Maya</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/35.jpg" alt="Maya" title="Maya">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Arina" href="@ProfileLib.GetUrl(36)">
                                        <div class="escort_name">Arina</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/36.jpg" alt="Arina" title="Arina">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Trisha" href="@ProfileLib.GetUrl(37)">
                                        <div class="escort_name">Trisha</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/37.jpg" alt="Trisha" title="Trisha">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Raquel" href="@ProfileLib.GetUrl(38)">
                                        <div class="escort_name">Raquel</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/38.jpg" alt="Raquel" title="Raquel">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Kim" href="@ProfileLib.GetUrl(39)">
                                        <div class="escort_name">Kim</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/39.jpg" alt="Kim" title="Kim">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Felicia" href="@ProfileLib.GetUrl(41)">
                                        <div class="escort_name">Felicia</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/41.jpg" alt="Felicia" title="Felicia">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Sandra" href="@ProfileLib.GetUrl(42)">
                                        <div class="escort_name">Sandra</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/42.jpg" alt="Sandra" title="Sandra">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Amalee" href="@ProfileLib.GetUrl(43)">
                                        <div class="escort_name">Amalee</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/43.jpg" alt="Amalee" title="Amalee">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Britni" href="@ProfileLib.GetUrl(44)">
                                        <div class="escort_name">Britni</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/44.jpg" alt="Britni" title="Britni">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Briahna" href="@ProfileLib.GetUrl(45)">
                                        <div class="escort_name">Briahna</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/45.jpg" alt="Briahna" title="Briahna">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Candice" href="@ProfileLib.GetUrl(46)">
                                        <div class="escort_name">Candice</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/46.jpg" alt="Candice" title="Candice">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3">
                            <div class="escort_display">
                                <div class="image_wrapper">
                                    <a title="Escort Madison" href="@ProfileLib.GetUrl(48)">
                                        <div class="escort_name">Madison</div>
                                        <div class="escort_img">
                                            <img class="img-responsive" src="/images/escort/48.jpg" alt="Madison" title="Madison">
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="text_info_block">
                <p>If you have come to Las Vegas looking for the most exquisite escorts in the USA you are not alone. Las Vegas is a haven for beautiful and skilled young women from showgirls to tourists; it’s likely your dream girl is waiting in Vegas for you. Whether you are looking for a foxy redhead or a bubbly blonde, finding the right escort for your needs can be tricky and there is quite a diverse range of Las Vegas escorts. Backpage advertisements for escorts can seem like an easy option, and the advertisements can be very alluring. However, there is some important information you need to know about Las Vegas Backpage escorts before you make your final decision. The old adage is true, what happens in Vegas stays in Vegas but that does not mean you have to throw caution to the wind. If you have come to Vegas looking for a jaw-dropping escort, doing some research beforehand is extremely advisable. There are many truly awful horror stories out there and your safety and peace of mind is priceless. When it comes to Backpage escorts, Las Vegas has plenty on offer. So what is the deal with these types of escorts and what are the risks involved?</p>
                <h2><span>The Lowdown on Las Vegas Backpage Escorts</span></h2>
                <div class="text_image_left">
                    <img src="/img/naomi_4.jpg" alt="The truth about backpage Las Vegas Escorts" title="The truth about backpage Las Vegas Escorts" class="img-responsive">
                </div>
                <p>Backpage escorts advertise their services in the free classifieds, they get their name from the name of the free classifieds; Backpage. If you are researching Las Vegas Backpage escorts, it’s fair to say that you have seen these advertisements already. These escorts will post their own short advertisements with pictures and they work independently. So, say you are on a business trip and you are looking for a Las Vegas escort, Backpage escorts seem like an easy option. You’ve seen an advertisement for a girl who sounds like your type and her pictures have blown your mind – what do you do next? Most Backpage Las Vegas escorts work independently and will leave a contact number on their advertisement. You will call the girl and see if she is available, she may also have her own screening system for her own safety. Whatever your reasons for a Las Vegas escort, Backpage or not – you need to know what you are looking for. When you contact your chosen Backpage escort, be clear and upfront about what you want. This is important, as it will prevent any future embarrassment or rejection. Some Las Vegas Backpage escorts will have a designated place you can meet them called an ‘incall’ – but most will also work with ‘outcalls’ and come to you. </p>
                <p>Unfortunately, there are quite a few risks involved with Backpage escorts. Las Vegas is well known as the city of Sin and some people will always take advantage of people who are looking to let off some steam. Con artists, thieves and unreliability plague the Backpage advertisements. Firstly, there is always the risk that the girl who knocked your socks off with her pictures will not be the girl that turns up at your door. You may have expected the 36DD bubbly natural blonde Andi but instead you might get a 36A bleached blonde with regrowth junkie Andi. The pictures might be old or even completely fake – but with no one to check the quality of the girls or assure you are getting the real deal… this happens more often than you would think. Anyone can place an ad on the Backpage classifieds and there is no guarantee what you see is what you are going to get.  There have been men who have planned to meet with Las Vegas Backpage escorts only to have been robbed, scammed, cheated or conned out of their money. There are always people out there who are willing and ready to take advantage of people, so don’t let anyone take advantage of you. It’s good to do your research, there are sites online where people share reviews of escorts… check them out and make sure that if you have a bad experience you share your story.</p>
            </div>
        </div>
        <div class="main_container">
            <div class="info_video_block">
                <h2><span>Safety and Backpage Escorts in Las Vegas</span></h2>
                <p>Remember when meeting with a Backpage Las Vegas escort play it safe. A funny joke from the film The Hangover was when the main characters future father-in-law says, "Remember, what happens in Vegas stays in Vegas. Except for herpes. That shit'll come back with you." – this may have been a joke, but it’s completely true. When you meet with a Las Vegas Backpage escort, there is no guarantee she is healthy, so use your brain and be safe. Finally, A surefire way to find a quality, 100% authentic Las Vegas escort is to use a reputable escort service such as Sin City Experience. We handpick the hottest, healthiest and most skilled girls in Vegas. When you meet with one of our escorts, you know you will be partying with the same girl you see in the photographs. It’s just as easy to contact us, as it is to contact these Backpage escorts. Las Vegas has so much to offer, so don’t ruin your experience with a bad encounter. Call us today and we can have an authentic smoking hot goddess at your door in minutes. If you do choose to go with the Las Vegas Backpage escorts, be safe and do your homework. Your safety should be your number one priority.</p>
                <h2><span>Avoid Backpage Escorts</span></h2>
                <p>As with the previous tip, avoid escorts that are advertised on Backpage. These women are independent escorts and could be anyone! Anyone can put an ad up on Backpage so there is no guarantee the woman in the photographs will be the woman that turns up at your hotel door. If it looks too good to be true, it usually is. There are a lot of people who are looking to scam visitors to Vegas, so stay safe and as we mentioned before, go with a <a href="/">reputable agency</a>.</p>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="bottom_contact_info">
                            <h3>Contact Us</h3>
                            <p>900 E Karen Ave #220 Las Vegas, NV 89109 USA</p>
                            <p>Phone: <a onclick="_gaq.push(['_trackEvent', 'Click', 'Link'])" href="tel:+1702-766-5315">702-766-5315</a></p>
                            @*<p>Email: <a href="mailto:booking@sincityexperience.com">booking@sincityexperience.com</a></p>*@
                            <p>We are waiting for your call 24 hours a day 7 days a week.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="bottom_working_hours_info">
                            <h3>Booking</h3>
                            <p>
                                Please feel free to contact us either via phone or email or using <a href="/contact.php">online contact form</a> as well as <a href="/booking.php">online booking form</a>.
                                For reasons of discretion some of our girls do not wish to appear on the website - contact us for more details.
                                Some of our girls available for international traveling.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="bottom_booking_info">
                            <h3>We also offer</h3>
                            <p><a href="/fetish.php">Femdom</a></p>
                            <p><a href="/foot-fetish.php">Foot Fetish</a></p>
                            <p><a href="/las-vegas-nuru-massage.php">Nuru Massage</a></p>
                            <p><a href="/las-vegas-happy-ending-massage.php">Happy Ending Massage</a></p>
                            <p><a href="/backpage.php">Las Vegas Backpage</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>